<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

    <servlet>
		<servlet-name>AutoComplete</servlet-name>
		<servlet-class>com.finanalyzer.servlet.AutoCompleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AutoComplete</servlet-name>
		<url-pattern>/autoComplete</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AutoCompleteBse</servlet-name>
		<servlet-class>com.finanalyzer.servlet.AutoCompleteServlet</servlet-class>
		<init-param>
			<param-name>isBse</param-name>
			<param-value>true</param-value>
		</init-param>
	</servlet>
	
	<servlet-mapping>
		<servlet-name>AutoCompleteBse</servlet-name>
		<url-pattern>/autoCompleteBseId</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>ValidRatingsAutoComplete</servlet-name>
		<servlet-class>com.finanalyzer.servlet.ValidRatingsAutoCompleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ValidRatingsAutoComplete</servlet-name>
		<url-pattern>/validRatingsAutoComplete</url-pattern>
	</servlet-mapping>
 
	<servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

<!-- testing begins -->

	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.finanalyzer.servlet.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>

 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value>com.finanalyzer.domain.jdo.UnrealizedSummaryDbObjectEndpoint,com.finanalyzer.endpoints.InitializeControllerEndPoint,com.finanalyzer.endpoints.NDaysHistoryControllerEndPoint</param-value>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>